<h4>Volunteers</h4>
  <% if @volunteers %>
    <ul>
      <% @volunteers.each do |volunteer| %>
        <li><%= volunteer.name %>  |  project id: <%= volunteer.project_id %></li>
      <% end %>
    </ul>
  <% else %>
      <p> There are no volunteers</p>
  <% end %>

<p><a href="/projects">Return to project list</a></p>